.checkout-main{
    display: flex;
    flex-direction: row;
    .info-side{
        flex: 0 0 55.5%;
        .checkout-head {
                display: flex;
                flex-direction: column;
                padding-left: 3.5rem;
                padding-top: 3.5rem;
        
                gap: 1rem;
        
                .checkout-flow {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.3rem;
        
                    .order-item {
                        list-style: none;
                    }
                }
            }
        
            .contact-info {
                margin-top: 3.5rem;
                margin-left: 3rem;
                width: 40vw;
                max-width: 40vw;
                margin-bottom: 3.5rem;
        
                .initial-contact {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;

                    .email-phone{
                        display: flex;
                        flex-direction: row;
                        gap: 2.5rem;

                        .animated-input-div {
                            width: 100%;
                        }
                    }
                }
        
                .disclaimer {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;
                }
        
                .info-form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 1.5rem;
        
        
                    .shipping-info {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        width: 100%;
        
                        .city-state-zip {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 2.5rem;
                        }
        
                        .first-last {
                            display: flex;
                            flex-direction: row;
                            gap: 2.5rem;
        
                            .animated-input-div {
                                width: 100%;
                            }
                        }
                    }
        
                    .form-bottom-row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
        
                        .return-cart {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.4rem;
                        }
        
                        .continue-button {
                            padding: 1.5rem 1rem 1.5rem 1rem;
                            width: 202.94;
                            height: 64;
                            letter-spacing: 0.15rem;
                            border-radius: 8px;
                            cursor: pointer;
                            background: transparent;
                            background-color: #E6EAC1;
                            border: none;
                            transition: background-color ease-in 0.3s;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
        
                        .continue-button:hover {
                            background-color: #c8cca7;
                        }
        
                }
            }
        }
    }
    
    .cart-side{
        width: 100%;
        height: 100%;
        flex: 0 0 45.5%;
        position: relative;
        
        .cart-background{
            position: fixed;
            border-left: 1.5px solid black;
            z-index: 0;
        }

        .cart-wrapper{
            z-index: 1000;
            width: 45.5vw;
            height: 100vh;
            background-color: rgb(245, 240, 240, 0.75);
            position: fixed;
            

            .cart-overlay{
                margin: 3rem 3rem 0 3rem;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .discount-input{
                    display: flex;
                    flex-direction: row;
                    gap: 2rem; 
                    
                    .discount-button{
                        padding: .5rem 1rem .5rem 1rem;
                    }
                    .animated-input-div{
                        flex: 1 1 0;
                    }
                }

                .bottom-row{
                    margin-top: .5rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .shipping, .taxes, .total{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    .total{
                        align-items: center;
                    }

                    .subtotal{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .subtotal-wrapper{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.1rem;
                        }
                    }
                }

                .cart-items {
                    max-height: 10rem;
                    overflow-y: auto;
                    z-index: 10000;
                    padding-top: 1.5rem;
                    .cart-item {
                        display: flex;
                        flex-direction: row;
                        gap: 0.5rem;

                        .item-price{
                            margin-left: 10rem;
                        }

                        .item-info{
                            display: flex;
                            flex-direction: column;
                            gap: .3rem;
                        }

                        .thumbnail-quantity {
                            .cart-item-thumbnail {
                                object-fit: cover;
                                border-radius: 10%;
                            }
            
                            .quantity-circle {
                                width: 20px;
                                height: 20px;
                                background-color: rgb(0, 0, 0, .6);
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                bottom: 4.7rem;
                                left: 3.25rem;
            
            
                                .quantity {
                                    color: white;
                                    font-size: 12px;
                                    z-index: 10000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
