.checkout-main{
    display: flex;
    flex-direction: row;
    .info-side{
        .checkout-head {
                display: flex;
                flex-direction: column;
                padding-left: 3.5rem;
                padding-top: 3.5rem;
        
                gap: 1rem;
        
                .checkout-flow {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.3rem;
        
                    .order-item {
                        list-style: none;
                    }
                }
            }
        
            .contact-info {
                margin-top: 3.5rem;
                margin-left: 3rem;
                width: 40vw;
                max-width: 40vw;
                margin-bottom: 3.5rem;
        
                .initial-contact {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;
                }
        
                .disclaimer {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;
                }
        
                .info-form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 1.5rem;
        
        
                    .shipping-info {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        width: 100%;
        
                        .city-state-zip {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 1.5rem;
                        }
        
                        .first-last {
                            display: flex;
                            flex-direction: row;
                            gap: 2rem;
        
                            .animated-input-div {
                                width: 100%;
                            }
                        }
                    }
        
                    .form-bottom-row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
        
                        .return-cart {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.4rem;
                        }
        
                        .continue-button {
                            padding: 1.5rem 1rem 1.5rem 1rem;
                            letter-spacing: 0.15rem;
                            border-radius: 8px;
                            cursor: pointer;
                            background: transparent;
                            background-color: #E6EAC1;
                            border: none;
                            transition: background-color ease-in 0.3s;
                        }
        
                        .continue-button:hover {
                            background-color: #c8cca7;
                        }
        
                }
            }
        }
    }
    
    .cart-side{
        margin-left: 2rem;
        border-left: 1.5px solid grey;
        
        .cart-background{
            position: sticky;
        }

        .cart-overlay{
            position: fixed;
            z-index: 1000;
            background-color: grey;

        }
    }
}
