
.recently-viewed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(240,255,240);
    gap: 1.5rem;
    border-bottom: 2px solid white;


    .recent-head{
        letter-spacing: 0.12rem;
    }

    .recents-container{
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        margin: 2rem 3rem 2rem 3rem;
        gap: 1.25rem;

        .recent-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .4rem;


            .image-transition{
                object-fit:scale-down;
                background-color: rgb(200, 230, 200, .65);

            }

            .item-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .3rem;
                .item-head{
                    display: flex;
                    flex-direction: row;
                    gap: .5rem;
                }
            }
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding-bottom: 11rem;
    gap: .5rem;
    background-color: rgb(240,255,240);
    border-bottom: 2px solid white;
    

    .cart-header{
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-top: 4rem;
        gap: .5rem;
    }


    .cart-info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 7rem;

        .cart-checkout-side {
            display: flex;
            flex-direction: column;
            margin: 0 2rem 0 2rem;
            gap: 1rem;
            padding: 2rem 2.5rem;
            background-color: rgba(128,128,128, 0.1);
            align-self: flex-start;
            position: sticky;
            top: 9rem;
    
            .subtotal {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-right: 1.5rem;
    
                .subtotal-header {
                    letter-spacing: 0.25rem;
                    font-size: smaller;
                }
            }
    
            .subtotal-additional {
                font-size: 15px;
            }
    
            .cart-checkout-button {
                padding-top: 0.7rem;
                padding-bottom: 0.7rem;
    
                letter-spacing: 0.25rem;
                background: transparent;
                border: none;
                background-color: #BCECAC;
                cursor: pointer;
            }
        }

        .cart-item-side {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            
            .empty{
                margin-top: .5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }

            .cart-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.5rem;
                padding-right: 2.5rem;
                

                .remove-item{
                    display: flex;
                    margin-top: 0.3rem;
                    width: 16%;
                    cursor: pointer;
                    background: transparent;
                    border: none;
                    font-size: medium;
                    text-decoration: underline;
                }

                .cart-item-image {
                    object-fit: cover;
                }
    
                .cart-item-info {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 7px;
    
                    .cart-item-name,
                    .cart-item-cat-name {
                        letter-spacing: 0.05rem;
                    }
    
                    .cart-item-name {
                        font-size: 20px;
                    }
    
                    .cart-item-cat-name {
                        font-size: 16px;
                    }
    
                    .quantity-and-price {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 10rem;

                        .quantity {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 7px;
                            border: 1px solid black;
    
                            .minus-quantity,
                            .plus-quantity {
                                display: flex;
                                align-items: center;
                                padding: 7px;
                                border: none;
                                background: transparent;
                                cursor: pointer;
                                transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
                                opacity: 0.8;
                            }
    
                            .minus-quantity:hover,
                            .plus-quantity:hover {
                                background-color: black;
                                opacity: 1;
                            }
    
                            .minus-quantity:hover .minus-quantity-icon,
                            .plus-quantity:hover .plus-quantity-icon {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

}