*{
    padding: 0;
    margin: 0;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fade-in{
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}
.nav-button, .search-button, .cart-button{
    border: none;
}

main{
    padding-top:6rem;
    padding-bottom: 6rem;
}
.nav-drawer-overlay{
    position: fixed;
    width:23rem;
    height:100%;
    background-color:white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .close-nav-drawer{
        flex: 0 0 auto;
        align-self: flex-end;
        margin: 1.5rem 1.5rem 0 0;
        background: transparent;
        border: none;
        cursor:pointer;
    }
    
    .nav-overlay-socials{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .nav-drawer{
        .nav-menu{
            padding: 0 16px;
            .nav-drawer-row-cat{
                .nav-drawer-row-itemName-button{
                    width: 28px;
                    height: 28px;
                    display: flex;
                    align-items:center;
                    justify-content:center;

                    background: transparent;
                    cursor: pointer;
                    border: none;

                    margin-bottom: 1rem;
                    
                    .button-clicked{
                        transform: rotate(0.5turn);
                    }

                    .nav-drawer-row-itemName-button-icon{
                        flex: 0 0 auto;
                    }
                }

                .nav-drawer-row-cat-transition{
                    .nav-drawer-row-itemName-button-icon{
                        transform:rotate(0.5turn);
                    }
                }
            }
        }
    }
}

.nav-drawer-overlay.open{
    transform: translateX(0);
}

.nav-drawer-overlay.closed{
    transform: translateX(-100%);
}
.main-content-blurred{
    filter: blur(4px);
    pointer-events: none;
}

.nav-drawer-row-noc, .nav-drawer-row-cat{
    border-bottom: 2px solid black;
    width:100%;
    margin-bottom: 1rem;
    text-decoration: none;
    color: inherit;
}

.nav-drawer-row-item{
    text-decoration: none;
    color: inherit;
}

.nav-menu, .subcat-list-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    list-style: none;
}

.front-header{
    display:flex;
    flex-direction: row;
    position: fixed;
    background:white;
    top: 0;
    width: 100%;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
    box-shadow: 0 0 5px grey;
    z-index: 1000;

    .search-cart-div{
        display:flex;
        flex-direction: row;
        gap: 2rem;

        padding-right: 4rem;
    }

    .nav-button{
        margin-left: 4rem; 
        flex: 0 0 auto; 
        background: transparent;
        cursor: pointer;   
    }

    .search-cart-div{

        .search-button{
            background: transparent;
            cursor:pointer;
        }

        .cart-button{
            background: transparent;
            cursor: pointer;
        }

    }


    .nav-drawer-overlay{
        align-self: flex-start;
    }

}

.nav-menu .nav-drawer-row-cat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
} 

.nav-drawer-row-item{
    text-decoration: none;
    color: inherit;
}





.main-footer{
    padding-top: 5rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: grey;
    gap: 1.5rem;

    .footer-div{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .footer-policy-info{
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-left: 1.5rem;
        }

        .footer-policy{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 5rem;
            border-bottom: 1px solid black;
            
            .policy-button{
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                background: transparent;
                cursor: pointer;
                border: none;
                
                .clicked{
                    transform: rotate(0.5turn);
                }

                .policy-icon{
                    flex: 0 0 auto;
                }
            }
        }
    }
}