
.nav-drawer-overlay{
    position: fixed;
    width:20rem;
    height:100%;
    background-color:white;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    z-index: 1000;



    .nav-drawer{
        .nav-menu{
            .nav-drawer-row-cat{
                .nav-drawer-row-itemName-button{
                    width: 28px;
                    height: 28px;
                    display: flex;
                    align-items:center;
                    justify-content:center;

                    background: transparent;
                    cursor: pointer;

                    .nav-drawer-row-itemName-button-icon{
                        flex: 0 0 auto;
                    }
                }

                .nav-drawer-row-cat-transition{
                    .nav-drawer-row-itemName-button-icon{
                        transform:rotate(0.5turn);
                    }
                }
            }
        }
    }
}


.main-content-blurred{
    filter: blur(4px);
    pointer-events: none;
}

.nav-drawer-row-noc, .nav-drawer-row-cat{
    border-bottom: 2px solid black;
    width:100%;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.nav-drawer-row-item{
    text-decoration: none;
    color: inherit;
}


.close-nav-drawer{
    position: absolute;
    margin-bottom: 1rem;
}

.close-nav-drawer{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav-menu, .subcat-list-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    list-style: none;
}

.front-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    

    .search-cart-div{
        display:flex;
        flex-direction: row;
        gap: 2rem;

        padding-right: 4rem;
    }

    .nav-button{
        margin-left: 4rem; 
        flex: 0 0 auto; 
        background: transparent;
        cursor: pointer;   
    }

    .search-cart-div{

        .search-button{
            background: transparent;
            cursor:pointer;
        }

        .cart-button{
            background: transparent;
            cursor: pointer;
        }

    }


    .nav-drawer-overlay{
        align-self: flex-start;
    }

}

.nav-menu .nav-drawer-row-cat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
} 
