*{
    padding: 0;
    margin: 0;
    font-family: 'Asul', sans-serif;
}

.search-div{
    top: 0;
    width: 100%;
    height: 6rem;
    background-color: white;
    z-index: 1000;
    position: fixed;
    gap: 1rem;
    display: flex;

    .search-form{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;

        .main-search{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            gap: 1.5rem;
            top: 0;
            align-items: center;
            position: absolute;
            justify-content: center;

            .close-search{
                display: flex;
                align-items: center;
                flex-grow: 0;
                background: transparent;
                border: none;
                cursor: pointer;
            }

            .input-wrapper{
                position: relative;
                
                .query-div{
                    padding-top: 1rem;
                    background-color: white;
                    height: auto;
                    width: 100%;

                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    
                    .search-results-button{
                        width: 100%;
                        display: flex;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        padding-left: 1.5rem;
                        align-items: center;
                        cursor: pointer;
                        background:transparent;
                        font-size: medium;
                        gap: 0.5rem;
                        border: 1.5px solid black;
                    }

                    .no-results{
                        padding-top: 1rem;
                        padding-left: 1.5rem;
                        padding-bottom: 1.5rem;
                    }

                    .query-results{
                        display: flex;
                        flex-direction: row;
                        gap: 2rem;

                        .query-collections-div{
                            width: 27%;
                            padding-left: 1.5rem;

                            .collection-header{
                                padding-bottom: 0.5rem;
                                border-bottom: 1px solid black;
                            }

                            .collections-menu{
                                display: flex;
                                flex-direction: column;
                                padding-top: 1rem;

                                .collection-item{
                                    list-style: none;
                                    color: inherit;
                                    text-decoration: none;
                                    padding-left: 10px;
                                    padding-top: 7px;
                                    padding-bottom: 7px;
                                    transition: background-color 0.1s ease-in;
                                }

                                .collection-item:hover{
                                    background-color: rgba(128,128,128,0.5);
                                }
                            }
                        }

                        .query-products-div{
                            margin-left: 2rem;
                            width: 73%;
                            margin-right: 1.5rem;
                            
                            .products-header{
                                padding-bottom: 0.5rem;
                                border-bottom: 1px solid black;
                            }

                            .products-menu{
                                display: flex;
                                padding-top: 0.8rem;

                                .product-item-anchor{
                                    display: flex;
                                    color: inherit;
                                    text-decoration: none;
                                    width: 100%;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    padding-left: 10px;
                                    transition: background-color 0.1s ease-in;
                                }

                                .product-item-anchor:hover{
                                    background-color: rgba(128,128,128,0.5);
                                
                                }

                                .product-item{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 1rem;
                                    list-style: none;
                                    width: auto;

                                    .product-image{
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }

                }
                .query-input{
                    .search-submit-button{
                        right: 17px;
                        top: 3px;
                        position: absolute;
                        background: transparent;
                        border:none;
                        cursor: pointer;
                    }

                    .search-input{
                        
                        position: relative;
                        height: 45px;
                        width: 800px;
                        padding-left: 20px;
                        padding-right: 50px;
                        border: 1px solid grey;
                    }

                    input[type="search"]::-webkit-search-decoration,
                    input[type="search"]::-webkit-search-cancel-button,
                    input[type="search"]::-webkit-search-results-button,
                    input[type="search"]::-webkit-search-results-decoration {
                        display: none;
                    }
                                    
                    
                    .search-input:focus{
                        outline: none;
                        border: 1.5px solid black;
                    }
                }
            }
        }

    }
}


.cart-overlay.open{
    transition: transform 0.4s ease-in-out;
    position: fixed;
    transform: translateX(0);
}

.cart-overlay.closed{
    transition: transform 0.4s ease-in-out;
    position: fixed;
    transform: translateX(100%);
}

.cart-overlay.open, .cart-overlay.closed{
    position: fixed;
    z-index: 1000;
    width: 27.5rem;
    height: 100vh;
    background-color: white;
    top: 0;
    right: 0;

    .empty-cart{
        padding-top: 1rem;
        padding-left: 2rem;
    }

    .cart-overlay-top-row{
        display: flex;
        flex-direction: row;
        padding: 1rem 0 1.5rem 0;
        margin: 0 2rem 0 2rem;
        border-bottom: 1px solid grey;
        justify-content: space-between;
        align-items: center;

        .cart-header{
            letter-spacing: 0.1rem;
        }

        .close-cart-overlay{
            background: transparent;
            border: none;
            cursor: pointer;
        }

    }


    .cart-items{
        margin: 0 2rem 0 2rem;
        padding-top: 2.5rem;
        padding-bottom: 1rem;
        max-width: 400px;
        max-height: 190px;
        overflow-y: auto;
        border-bottom: 1px solid grey;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .cart-item{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.5rem;
            padding-right: 2.5rem;

            .cart-item-image{
                object-fit: cover;
            }

            .cart-item-info{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 7px;
                
                .cart-item-name, .cart-item-cat-name{
                    letter-spacing: 0.05rem;
                }

                .cart-item-name{
                    font-size: 20px;
                }

                .cart-item-cat-name{
                    font-size: 16px;
                }

                .quantity-and-price{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .quantity{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 7px;
                        border: 1px solid black;
                        
                        .minus-quantity, .plus-quantity{
                            display: flex;
                            align-items: center;
                            padding: 7px;
                            border: none;
                            background: transparent;
                            cursor: pointer;
                            transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
                            opacity: 0.8;
                        }

                        .minus-quantity:hover, .plus-quantity:hover{
                            background-color: black;
                            opacity: 1;
                        }

                        .minus-quantity:hover .minus-quantity-icon, .plus-quantity:hover .plus-quantity-icon{
                            color: white;
                        }
                    }
                }
            }
        }

    }
    .cart-overlay-bottom-row{
        display: flex;
        flex-direction: column;
        margin: 0 2rem 0 2rem;
        gap: 1rem;
        padding-top: 1rem;
        
        .subtotal{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-right: 1.5rem;
            
            .subtotal-header{
                letter-spacing: 0.25rem;
                font-size:smaller;
            }
        }
    
        .subtotal-additional{
            font-size: 15px;
        }

        .cart-checkout-button{
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;

            letter-spacing: 0.25rem;
            background: transparent;
            border: none;
            cursor: pointer;
            background-color: #BCECAC;
        }
    }
}

.main-content-blurred{
    filter: blur(8px);
    pointer-events: none;
    user-select: none;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fade-in{
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}
.nav-button, .search-button, .cart-button{
    border: none;
}

main{
    padding-top:6rem;
    padding-bottom: 6rem;
}
.nav-drawer-overlay{
    position: fixed;
    width:23rem;
    height:100vh;
    background-color:white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .close-nav-drawer{
        flex: 0 0 auto;
        align-self: flex-end;
        margin: 2rem 2rem 1.5rem 0;
        background: transparent;
        border: none;
        cursor:pointer;
    }
    
    .nav-overlay-socials{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        border-top: 1px solid grey;
       

        .nav-overlay-instagram, .nav-overlay-facebook, .nav-overlay-email{
            height: 50px;
            width: 50px;

            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.7rem;
        
        }
    
        .nav-overlay-instagram, .nav-overlay-facebook{
            border-right: 1px solid grey;
            padding-right: 1rem;


        }
        .nav-overlay-instagram{
            border-left: 1px solid grey;
            padding-left: 1rem;
        }

        .nav-overlay-email{
            border-right: 1px solid grey;
            padding-right: 1rem;
        }
        .nav-overlay-facebook, .nav-overlay-email{
            padding-left: 1rem;
        }
    }

    .nav-drawer{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .subcategory-menu{
            padding-left: 3rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .subcategory-item{
                list-style: none;
                
                .subcategory-name{
                    color: inherit;
                    text-decoration: none;
                }
            }
        }

        .nav-drawer-row{
            margin-left: 2rem;
            margin-right: 2rem;
            padding-top: 1rem;
            max-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid grey;

            .nav-drawer-row-item{
                letter-spacing: 0.1rem;
                font-size: medium;
            }

            .nav-drawer-row-itemName-button{
                display: flex;
                align-items: center;
                height: 28px;
                width: 28px;
                padding-left: 0.5rem;

                background: transparent;
                cursor: pointer;
                border: none;
                border-left: 1px solid grey;

                .nav-drawer-row-itemName-button-icon{
                    flex: 0 0 auto;
                    transition: 0.2s transform;
                }


                .button-clicked{
                    transform: rotate(0.5turn);
                }
            }
            
        }
    }
}

.nav-drawer-overlay.open{
    transform: translateX(0);
}

.nav-drawer-overlay.closed{
    transform: translateX(-100%);
}

.main-content-blurred{
    filter: blur(4px);
    pointer-events: none;
}

.nav-drawer-row-item{
    text-decoration: none;
    color: inherit;
}

.front-header{
    display:flex;
    flex-direction: row;
    position: fixed;
    background:white;
    top: 0;
    width: 100%;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
    box-shadow: 0 0 5px grey;
    z-index: 1000;

    .search-cart-div{
        display:flex;
        flex-direction: row;
        gap: 2rem;

        padding-right: 4rem;
    }

    .nav-button{
        margin-left: 4rem; 
        flex: 0 0 auto; 
        background: transparent;
        cursor: pointer;   
    }

    .search-cart-div{

        .search-button{
            background: transparent;
            cursor:pointer;
        }

        .cart-button{
            background: transparent;
            cursor: pointer;
        }

    }


    .nav-drawer-overlay{
        align-self: flex-start;
    }

}

.nav-menu .nav-drawer-row-cat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
} 

.nav-drawer-row-item{
    text-decoration: none;
    color: inherit;
}





.main-footer{
    padding-top: 5rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: grey;
    gap: 1.5rem;

    .footer-div{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .footer-policy-info{
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-left: 1.5rem;
        }

        .footer-policy{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 5rem;
            border-bottom: 1px solid black;
            
            .policy-button{
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                background: transparent;
                cursor: pointer;
                border: none;
                
                .clicked{
                    transform: rotate(0.5turn);
                }

                .policy-icon{
                    flex: 0 0 auto;
                }
            }
        }
    }
}