*{
    font-family: 'Asul', serif;
}
.new-arrivals {

    display: flex;
    flex-direction: column;

    .shop-new-arrivals-banner{
        align-self: center;
        padding: 6rem 0
    }

    .recent-items-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        .recent-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .recent-item-image {
                box-shadow: 0 0 5px black;
            }

            .arrival-name-category-div {
                display: flex;
                flex-direction: row;
                gap: 0.2rem;
            }
        }

    }
}

.recent-event {
    display: flex;
    flex-direction: column;

    .next-upcoming-banner{
        align-self: center;
        padding: 6rem 0;
    }

    .recent-event-div {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 1rem 5rem;
        background: #f6e6db;
        box-shadow: 0 2px 4px rgba(0,0,0,1);
        border: 2px solid black;
        
        .recent-event-info {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .recent-info-top, .recent-info-middle, .recent-info-bottom {
                display: flex;
                flex-direction: row;
            }
            .recent-info-top{
                align-items:center;
                justify-content: space-between;
                gap: 1.5rem;
            }
            .recent-info-middle, .recent-info-bottom{
                gap: 15px;
            }

            .view-all-events-button{
                align-self: flex-end;
                color: inherit;
            }
        }
    }
}

.front-images{
    display:flex;
    flex-direction: row;
    justify-content: center;

    .right-home-image{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
    }

    .left-home-image{
        border: 2px solid black;
    }
}

.favorites-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .shop-favorites-banner{
        align-self: center;
        padding: 6rem 0;
    }

    .favorites-div{
        display: flex;
        flex-direction: row;

        .favorite-anchor .favorite-image{
            box-shadow: 0 0 5px grey;
        }
    }
}

.favorites-container .favorite-div .favorite-anchor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    color: inherit;

    .favorite-item{
        padding-top: 1.5rem;
    }
    
}

.favorites-container .favorite-div .favorite-anchor:hover{
    .favorite-image{
        transition: transform 0.5s ease;
        transform:scale(1.11111115,1.11111115);
    }
}



