
.nav-drawer-overlay{
    position: fixed;
    width:20rem;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    
}

.shop-favorites-banner{
    padding-top: 5rem;
    padding-left: 15rem;
    padding-bottom: 5rem;
    
}

.front-images{
    display:flex;
    flex-direction: row;

    .right-home-image{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
    }

    .left-home-image{
        border: 2px solid black;
    }
}

.favorites-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.favorites-container .favorite-div .favorite-anchor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    color: inherit;

    .favorite-item{
        padding-top: 1.5rem;
    }
    
}

.favorites-container .favorite-div .favorite-anchor:hover{
    .favorite-image{
        transition: transform 0.5s ease;
        transform:scale(1.11111115,1.11111115);
    }
}

.nav-drawer-row-noc, .nav-drawer-row-cat{
    border-bottom: 2px solid black;
    width:100%;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.nav-drawer-row-item{
    text-decoration: none;
    color: inherit;
}


.close-nav-drawer{
    position: absolute;
    margin-bottom: 1rem;
}

.close-nav-drawer{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    list-style: none;

}

.front-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
}

.nav-menu .nav-drawer-row-cat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 