.shop-favorites-banner, .shop-new-arrivals-banner, .next-upcoming-banner{
    padding-top: 5rem;
    padding-left: 15rem;
    padding-bottom: 3rem;
    
}
.recent-event {
    display: flex;
    flex-direction: column;

    .recent-event-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        .recent-event-info {
            display: flex;
            flex-direction: column;

            .recent-info-top, .recent-info-middle, .recent-info-bottom {
                display: flex;
                flex-direction: row;
            }
            .recent-info-top{
                align-items:center;
                justify-content: space-between;
            }
            .recent-info-middle, .recent-info-bottom{
                gap: 15px;
            }
        }
    }
}

.front-images{
    display:flex;
    flex-direction: row;
    justify-content: center;

    .right-home-image{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
    }

    .left-home-image{
        border: 2px solid black;
    }
}

.favorites-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .favorites-div{
        display: flex;
        flex-direction: row;
    }
}

.favorites-container .favorite-div .favorite-anchor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    color: inherit;

    .favorite-item{
        padding-top: 1.5rem;
    }
    
}

.favorites-container .favorite-div .favorite-anchor:hover{
    .favorite-image{
        transition: transform 0.5s ease;
        transform:scale(1.11111115,1.11111115);
    }
}


.nav-drawer-row-item{
    text-decoration: none;
    color: inherit;
}


.close-nav-drawer{
    position: absolute;
    margin-bottom: 1rem;
}

.close-nav-drawer{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
